In [263]:
import pandas as pd

marketing_end_df = pd.read_csv("marketing_end_df.csv")
marketing_end_df.drop("Unnamed: 0", axis=1, inplace=True)
marketing_retail_df = pd.read_csv("marketing_retail_df.csv")
marketing_retail_df.drop("Unnamed: 0", axis=1, inplace=True)
marketing_cost_df = pd.read_csv("marketing_costs_df.csv")
marketing_cost_df.drop("Unnamed: 0", axis=1, inplace=True)
charecteristics_df = pd.read_csv("charecteristics_df.csv")
charecteristics_df.drop("Unnamed: 0", axis=1, inplace=True)
additional_df = pd.read_csv("additional_df.csv")
additional_df.drop("Unnamed: 0", axis=1, inplace=True)
demand_df = pd.read_csv("demand_df.csv")
demand_df.drop("Unnamed: 0", axis=1, inplace=True)
first_time_df = pd.read_csv("first_time_df.csv")
first_time_df.drop("Unnamed: 0", axis=1, inplace=True)
rate_of_coverage_df = pd.read_csv("rate_of_coverage_df.csv")
rate_of_coverage_df.drop("Unnamed: 0", axis=1, inplace=True)
rate_of_coverage_segment_df = pd.read_csv("rate_of_coverage_segment_df.csv")
rate_of_coverage_segment_df.drop("Unnamed: 0", axis=1, inplace=True)
segment_size_df = pd.read_csv("segments_size_df.csv")
segment_size_df.drop("Unnamed: 0", axis=1, inplace=True)
total_purchases_df = pd.read_csv("total_purchase_df.csv")
total_purchases_df.drop("Unnamed: 0", axis=1, inplace=True)
market_share_df = pd.read_csv("market_share_df.csv")
market_share_df.drop("Unnamed: 0", axis=1, inplace=True)
sales_df = pd.read_csv("sales_df.csv")

In [264]:
n_df=pd.melt(
    marketing_cost_df,
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)
n_df.rename(columns={"variable": "Model","value":"Market Share"}, inplace=True)
print(n_df.to_string())

     Period Company Model  Market Share
0        12    Digi     1         500.0
1        12  Profit     1         400.0
2        12  Primus     1         400.0
3        12    Best     1         400.0
4        12   Mikro     1         650.0
5        10    Digi     1         400.0
6        10  Profit     1          50.0
7        10  Primus     1           NaN
8        10    Best     1         400.0
9        10   Mikro     1         400.0
10       11    Digi     1         500.0
11       11  Profit     1         600.0
12       11  Primus     1           NaN
13       11    Best     1         200.0
14       11   Mikro     1         500.0
15        8    Digi     1         500.0
16        8  Profit     1         150.0
17        8  Primus     1           NaN
18        8    Best     1        1200.0
19        8   Mikro     1         300.0
20        9    Digi     1         300.0
21        9  Profit     1         400.0
22        9  Primus     1           NaN
23        9    Best     1           1.0
24        9   Mikro     1         300.0
25       12    Digi     2         700.0
26       12  Profit     2         400.0
27       12  Primus     2         400.0
28       12    Best     2         700.0
29       12   Mikro     2         600.0
30       10    Digi     2         600.0
31       10  Profit     2         500.0
32       10  Primus     2           NaN
33       10    Best     2         600.0
34       10   Mikro     2           NaN
35       11    Digi     2         700.0
36       11  Profit     2         600.0
37       11  Primus     2           NaN
38       11    Best     2         300.0
39       11   Mikro     2           NaN
40        8    Digi     2           NaN
41        8  Profit     2           NaN
42        8  Primus     2           NaN
43        8    Best     2           NaN
44        8   Mikro     2           NaN
45        9    Digi     2           NaN
46        9  Profit     2           NaN
47        9  Primus     2           NaN
48        9    Best     2           0.0
49        9   Mikro     2           NaN
50       12    Digi     3           NaN
51       12  Profit     3         400.0
52       12  Primus     3         200.0
53       12    Best     3         700.0
54       12   Mikro     3           NaN
55       10    Digi     3           NaN
56       10  Profit     3           NaN
57       10  Primus     3           NaN
58       10    Best     3           NaN
59       10   Mikro     3           NaN
60       11    Digi     3           NaN
61       11  Profit     3           NaN
62       11  Primus     3           NaN
63       11    Best     3         400.0
64       11   Mikro     3           NaN
65        8    Digi     3           NaN
66        8  Profit     3           NaN
67        8  Primus     3           NaN
68        8    Best     3           NaN
69        8   Mikro     3           NaN
70        9    Digi     3           NaN
71        9  Profit     3           NaN
72        9  Primus     3           NaN
73        9    Best     3           NaN
74        9   Mikro     3           NaN
75       12    Digi     4           NaN
76       12  Profit     4           NaN
77       12  Primus     4           NaN
78       12    Best     4           NaN
79       12   Mikro     4           NaN
80       10    Digi     4           NaN
81       10  Profit     4           NaN
82       10  Primus     4           NaN
83       10    Best     4           NaN
84       10   Mikro     4           NaN
85       11    Digi     4           NaN
86       11  Profit     4           NaN
87       11  Primus     4           NaN
88       11    Best     4           NaN
89       11   Mikro     4           NaN
90        8    Digi     4           NaN
91        8  Profit     4           NaN
92        8  Primus     4           NaN
93        8    Best     4           NaN
94        8   Mikro     4           NaN
95        9    Digi     4           NaN
96        9  Profit     4           NaN
97        9  Primus     4           NaN
98        9    Best     4           NaN
99        9   Mikro     4           NaN
100      12    Digi     5           NaN
101      12  Profit     5           NaN
102      12  Primus     5           NaN
103      12    Best     5           NaN
104      12   Mikro     5           NaN
105      10    Digi     5           NaN
106      10  Profit     5           NaN
107      10  Primus     5           NaN
108      10    Best     5           NaN
109      10   Mikro     5           NaN
110      11    Digi     5           NaN
111      11  Profit     5           NaN
112      11  Primus     5           NaN
113      11    Best     5           NaN
114      11   Mikro     5           NaN
115       8    Digi     5           NaN
116       8  Profit     5           NaN
117       8  Primus     5           NaN
118       8    Best     5           NaN
119       8   Mikro     5           NaN
120       9    Digi     5           NaN
121       9  Profit     5           NaN
122       9  Primus     5           NaN
123       9    Best     5           NaN
124       9   Mikro     5           NaN
125      12    Digi     6           NaN
126      12  Profit     6           NaN
127      12  Primus     6           NaN
128      12    Best     6           NaN
129      12   Mikro     6           NaN
130      10    Digi     6           NaN
131      10  Profit     6           NaN
132      10  Primus     6           NaN
133      10    Best     6           NaN
134      10   Mikro     6           NaN
135      11    Digi     6           NaN
136      11  Profit     6           NaN
137      11  Primus     6           NaN
138      11    Best     6           NaN
139      11   Mikro     6           NaN
140       8    Digi     6           NaN
141       8  Profit     6           NaN
142       8  Primus     6           NaN
143       8    Best     6           NaN
144       8   Mikro     6           NaN
145       9    Digi     6           NaN
146       9  Profit     6           NaN
147       9  Primus     6           NaN
148       9    Best     6           NaN
149       9   Mikro     6           NaN

In [265]:
charecteristics_df["Model_Split"]=charecteristics_df["Model"].str.extract('(\d+)')
charecteristics_df.rename(columns={"Model":"Model Name","Model_Split": "Model"}, inplace=True)
charecteristics_df

,Model Name,Company,Durability,Design,Connectivity,Maintenance,Accessories,Period,Model
0,Digi1,Digi,"0,7","2,0","0,7","0,7","0,7",12,1
1,Digi2,Digi,"3,0","3,0","3,0","1,0","1,0",12,2
2,Profit1,Profit,"0,7","0,7","0,7","1,4","0,7",12,1
3,Profit2,Profit,"2,0","1,0","2,0","1,0","1,0",12,2
4,Profit3,Profit,"1,0","3,0","1,0","1,0","3,0",12,3
5,Primus1,Primus,"0,7","0,7","0,7","1,4","0,7",12,1
6,Primus2,Primus,"2,0","1,0","3,0","1,0","1,0",12,2
7,Primus3,Primus,"3,0","2,0","3,0","2,0","2,0",12,3
8,Best1,Best,"0,7","0,7","0,7","2,0","0,7",12,1
9,Best2,Best,"2,0","1,0","2,0","1,0","1,0",12,2
10,Best3,Best,"2,0","3,0","3,0","2,0","1,0",12,3
11,Mikro1,Mikro,"0,7","0,7","0,7","0,7","0,7",12,1
12,Mikro2,Mikro,"3,0","3,0","3,0","3,0","3,0",12,2
13,Digi1,Digi,"0,8","1,6","0,8","0,8","0,8",10,1
14,Digi2,Digi,"3,0","3,0","3,0","1,0","1,0",10,2
15,Profit1,Profit,"0,8","0,8","0,8","1,6","0,8",10,1
16,Profit2,Profit,"2,0","1,0","2,0","1,0","1,0",10,2
17,Best1,Best,"0,8","0,8","0,8","2,5","0,8",10,1
18,Best2,Best,"2,0","1,0","2,0","1,0","1,0",10,2
19,Mikro1,Mikro,"0,8","0,8","0,8","0,8","0,8",10,1
20,Digi1,Digi,"0,8",23.0,"0,8","0,8","0,8",11,1
21,Digi2,Digi,"3,0","3,0","3,0","1,0","1,0",11,2
22,Profit1,Profit,"0,8","0,8","0,8","1,5","0,8",11,1
23,Profit2,Profit,"2,0","1,0","2,0","1,0","1,0",11,2
24,Best1,Best,"0,8","0,8","0,8",23.0,"0,8",11,1
25,Best2,Best,"2,0","1,0","2,0","1,0","1,0",11,2
26,Best3,Best,"2,0","3,0","3,0","2,0","1,0",11,3
27,Mikro1,Mikro,"0,8","0,8","0,8","0,8","0,8",11,1
28,Digi1,Digi,"0,9","1,8","0,9","0,9","0,9",9,1
29,Profit1,Profit,"0,9","0,9","0,9","1,8","0,9",9,1
30,Best1,Best,"0,9","0,9","0,9","1,8","0,9",9,1
31,Mikro1,Mikro,"0,9","0,9","0,9","0,9","0,9",9,1

In [266]:
marketing_end_df.rename(columns={"Cost": "Marketing End User"}, inplace=True)

In [267]:
n_df=n_df.merge(marketing_end_df, on=["Period", "Company"], how="left")

In [268]:
n_df

     Period Company Model  Market Share  Marketing End User
0        12    Digi     1         500.0              1200.0
1        12  Profit     1         400.0              1200.0
2        12  Primus     1         400.0              1000.0
3        12    Best     1         400.0              1800.0
4        12   Mikro     1         650.0              1250.0
..      ...     ...   ...           ...                 ...
145       9    Digi     6           NaN               300.0
146       9  Profit     6           NaN               400.0
147       9  Primus     6           NaN              1000.0
148       9    Best     6           NaN              1000.0
149       9   Mikro     6           NaN               300.0

[150 rows x 5 columns]

In [269]:
marketing_retail_df.rename(columns={"Cost": "Marketing Retailer"}, inplace=True)
n_df = n_df.merge(marketing_retail_df, on=["Period", "Company"], how="left")
n_df

,Period,Company,Model,Market Share,Marketing End User,Marketing Retailer
0,12,Digi,1,500.0,1200.0,1800.0
1,12,Profit,1,400.0,1200.0,900.0
2,12,Primus,1,400.0,1000.0,1500.0
3,12,Best,1,400.0,1800.0,1400.0
4,12,Mikro,1,650.0,1250.0,1400.0
...,...,...,...,...,...,...
145,9,Digi,6,NaN,300.0,400.0
146,9,Profit,6,NaN,400.0,1600.0
147,9,Primus,6,NaN,1000.0,800.0
148,9,Best,6,NaN,1000.0,600.0
149,9,Mikro,6,NaN,300.0,200.0

In [270]:
n_df = n_df.merge(charecteristics_df, on=["Period", "Model","Company"], how="left")
n_df

,Period,Company,Model,Market Share,Marketing End User,Marketing Retailer,Model Name,Durability,Design,Connectivity,Maintenance,Accessories
0,12,Digi,1,500.0,1200.0,1800.0,Digi1,"0,7","2,0","0,7","0,7","0,7"
1,12,Profit,1,400.0,1200.0,900.0,Profit1,"0,7","0,7","0,7","1,4","0,7"
2,12,Primus,1,400.0,1000.0,1500.0,Primus1,"0,7","0,7","0,7","1,4","0,7"
3,12,Best,1,400.0,1800.0,1400.0,Best1,"0,7","0,7","0,7","2,0","0,7"
4,12,Mikro,1,650.0,1250.0,1400.0,Mikro1,"0,7","0,7","0,7","0,7","0,7"
...,...,...,...,...,...,...,...,...,...,...,...,...
145,9,Digi,6,NaN,300.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN
146,9,Profit,6,NaN,400.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN
147,9,Primus,6,NaN,1000.0,800.0,NaN,NaN,NaN,NaN,NaN,NaN
148,9,Best,6,NaN,1000.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN
149,9,Mikro,6,NaN,300.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN

In [271]:
demand_df["Model_Split"]=demand_df["Model"].str.extract('(\d+)')
demand_df.drop("Model", axis=1, inplace=True)
demand_df.rename(columns={"Model_Split": "Model"}, inplace=True)
n_df = n_df.merge(demand_df, on=["Period", "Model","Company"], how="left")
n_df

,Period,Company,Model,Market Share,Marketing End User,Marketing Retailer,Model Name,Durability,Design,Connectivity,Maintenance,Accessories,Small income young families,Small income middle-aged families,Small income elderly families,Average income young families,Average income middle-aged families,Average income elderly families,Large income families
0,12,Digi,1,500.0,1200.0,1800.0,Digi1,"0,7","2,0","0,7","0,7","0,7",11.0,7.0,5.0,11.0,7.0,6.0,11.0
1,12,Profit,1,400.0,1200.0,900.0,Profit1,"0,7","0,7","0,7","1,4","0,7",19.0,28.0,37.0,17.0,24.0,33.0,16.0
2,12,Primus,1,400.0,1000.0,1500.0,Primus1,"0,7","0,7","0,7","1,4","0,7",13.0,15.0,17.0,13.0,15.0,17.0,14.0
3,12,Best,1,400.0,1800.0,1400.0,Best1,"0,7","0,7","0,7","2,0","0,7",9.0,8.0,7.0,10.0,9.0,9.0,13.0
4,12,Mikro,1,650.0,1250.0,1400.0,Mikro1,"0,7","0,7","0,7","0,7","0,7",6.0,7.0,8.0,6.0,7.0,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9,Digi,6,NaN,300.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,9,Profit,6,NaN,400.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,9,Primus,6,NaN,1000.0,800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,9,Best,6,NaN,1000.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,9,Mikro,6,NaN,300.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [272]:
R_C =pd.melt(
    rate_of_coverage_df,
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)
R_C

     Period Company variable  value
0        12    Digi        1   61.0
1        12  Profit        1   48.0
2        12  Primus        1   60.0
3        12    Best        1   49.0
4        12   Mikro        1   45.0
..      ...     ...      ...    ...
145       9    Digi        6    NaN
146       9  Profit        6    NaN
147       9  Primus        6    NaN
148       9    Best        6    NaN
149       9   Mikro        6    NaN

[150 rows x 4 columns]

In [273]:
R_C.rename(columns={"variable": "Model","value":"Rate of Coverage"}, inplace=True)
R_C

     Period Company Model  Rate of Coverage
0        12    Digi     1              61.0
1        12  Profit     1              48.0
2        12  Primus     1              60.0
3        12    Best     1              49.0
4        12   Mikro     1              45.0
..      ...     ...   ...               ...
145       9    Digi     6               NaN
146       9  Profit     6               NaN
147       9  Primus     6               NaN
148       9    Best     6               NaN
149       9   Mikro     6               NaN

[150 rows x 4 columns]

In [274]:
n_df = n_df.merge(R_C, on=["Period", "Model","Company"], how="left")
n_df

,Period,Company,Model,Market Share,Marketing End User,Marketing Retailer,Model Name,Durability,Design,Connectivity,Maintenance,Accessories,Small income young families,Small income middle-aged families,Small income elderly families,Average income young families,Average income middle-aged families,Average income elderly families,Large income families,Rate of Coverage
0,12,Digi,1,500.0,1200.0,1800.0,Digi1,"0,7","2,0","0,7","0,7","0,7",11.0,7.0,5.0,11.0,7.0,6.0,11.0,61.0
1,12,Profit,1,400.0,1200.0,900.0,Profit1,"0,7","0,7","0,7","1,4","0,7",19.0,28.0,37.0,17.0,24.0,33.0,16.0,48.0
2,12,Primus,1,400.0,1000.0,1500.0,Primus1,"0,7","0,7","0,7","1,4","0,7",13.0,15.0,17.0,13.0,15.0,17.0,14.0,60.0
3,12,Best,1,400.0,1800.0,1400.0,Best1,"0,7","0,7","0,7","2,0","0,7",9.0,8.0,7.0,10.0,9.0,9.0,13.0,49.0
4,12,Mikro,1,650.0,1250.0,1400.0,Mikro1,"0,7","0,7","0,7","0,7","0,7",6.0,7.0,8.0,6.0,7.0,7.0,5.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9,Digi,6,NaN,300.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,9,Profit,6,NaN,400.0,1600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,9,Primus,6,NaN,1000.0,800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,9,Best,6,NaN,1000.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,9,Mikro,6,NaN,300.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
sales_df

      Model  Price  Period
0     Digi1   1999      12
1     Digi2   3650      12
2   Profit1   1650      12
3   Profit2   2025      12
4   Profit3   2070      12
5     Best1   1950      12
6     Best2   1999      12
7     Best3   2980      12
8    Mikro1   1800      12
9    Mikro2  4 000      12
10    Digi1  2 000      10
11    Digi2   3750      10
12  Profit1   1780      10
13  Profit2  2 149      10
14    Best1   1900      10
15    Best2  2 200      10
16   Mikro1  1 800      10
17    Digi1   2100      11
18    Digi2   3750      11
19  Profit1   1499      11
20  Profit2   1799      11
21    Best1   1950      11
22    Best2   1999      11
23    Best3   2980      11
24   Mikro1   1800      11
25    Digi1   2450       8
26  Profit1   1650       8
27    Best1   1680       8
28   Mikro1   1800       8
29    Digi1   1900       9
30  Profit1  1 800       9
31    Best1  1 850       9
32   Mikro1  1 800       9

In [276]:
sales_df["Model_Split"]=sales_df["Model"].str.extract('(\d+)')
sales_df["Company"]=sales_df["Model"].str.extract('([A-Za-z]+)')
sales_df.drop("Model", axis=1, inplace=True)
sales_df.rename(columns={"Model_Split": "Model"}, inplace=True)
sales_df

    Price  Period Model Company
0    1999      12     1    Digi
1    3650      12     2    Digi
2    1650      12     1  Profit
3    2025      12     2  Profit
4    2070      12     3  Profit
5    1950      12     1    Best
6    1999      12     2    Best
7    2980      12     3    Best
8    1800      12     1   Mikro
9   4 000      12     2   Mikro
10  2 000      10     1    Digi
11   3750      10     2    Digi
12   1780      10     1  Profit
13  2 149      10     2  Profit
14   1900      10     1    Best
15  2 200      10     2    Best
16  1 800      10     1   Mikro
17   2100      11     1    Digi
18   3750      11     2    Digi
19   1499      11     1  Profit
20   1799      11     2  Profit
21   1950      11     1    Best
22   1999      11     2    Best
23   2980      11     3    Best
24   1800      11     1   Mikro
25   2450       8     1    Digi
26   1650       8     1  Profit
27   1680       8     1    Best
28   1800       8     1   Mikro
29   1900       9     1    Digi
30  1 800       9     1  Profit
31  1 850       9     1    Best
32  1 800       9     1   Mikro

In [277]:
n_df = n_df.merge(sales_df, on=["Period", "Model","Company"], how="left")

n_df

,Period,Company,Model,Market Share,Marketing End User,Marketing Retailer,Model Name,Durability,Design,Connectivity,...,Accessories,Small income young families,Small income middle-aged families,Small income elderly families,Average income young families,Average income middle-aged families,Average income elderly families,Large income families,Rate of Coverage,Price
0,12,Digi,1,500.0,1200.0,1800.0,Digi1,"0,7","2,0","0,7",...,"0,7",11.0,7.0,5.0,11.0,7.0,6.0,11.0,61.0,1999
1,12,Profit,1,400.0,1200.0,900.0,Profit1,"0,7","0,7","0,7",...,"0,7",19.0,28.0,37.0,17.0,24.0,33.0,16.0,48.0,1650
2,12,Primus,1,400.0,1000.0,1500.0,Primus1,"0,7","0,7","0,7",...,"0,7",13.0,15.0,17.0,13.0,15.0,17.0,14.0,60.0,NaN
3,12,Best,1,400.0,1800.0,1400.0,Best1,"0,7","0,7","0,7",...,"0,7",9.0,8.0,7.0,10.0,9.0,9.0,13.0,49.0,1950
4,12,Mikro,1,650.0,1250.0,1400.0,Mikro1,"0,7","0,7","0,7",...,"0,7",6.0,7.0,8.0,6.0,7.0,7.0,5.0,45.0,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9,Digi,6,NaN,300.0,400.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,9,Profit,6,NaN,400.0,1600.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,9,Primus,6,NaN,1000.0,800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,9,Best,6,NaN,1000.0,600.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,9,Mikro,6,NaN,300.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
n_df.to_csv("n_df.csv", index=False)